:root {
  /* Colors */
  --body-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #1f1f1f;
  --toggle-color: #ddd;
  --text-color: #707070;
  /* Transitions */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
.admin-layout {
  height: 100vh;
  width: 100vw;
  box-sizing: "border-box";
  position: "relative";
  background-color: var(--body-color);
}
.admin-layout.toggled .sidenav {
  margin-left: 0;
}
.sidenav {
  height: 100%;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background-color: var(--secondary-color);
  height: 100%;
}
.sidenav .sidebar-header img {
  width: 90px;
}
.sidenav ul {
  width: 15rem;
}
ul li {
  border: none !important;
  background-color: transparent !important;
}
.sidenav ul li a {
  color: var(--toggle-color);
  text-decoration: none;
}
.nav-wrapper {
  min-width: 100vw;
  height: auto;
}
nav button {
  background-color: var(--secondary-color) !important;
}
@media (min-width: 768px) {
  .sidenav {
    margin-left: 0;
  }
  .nav-wrapper {
    min-width: 0;
    width: 100%;
    height: auto;
  }
  .admin-layout.toggled .sidenav {
    margin-left: -15rem;
  }
}
